.thin_border{
	border: 1px solid rgb(204, 0, 0);
}
.navbar{
    text-decoration: rgb(204, 0, 0);
    background-color: #000000 !important;
    border-color: red;
}

.nav-link {
    color:rgb(218, 5, 5)!important;
    font-family: 'Sifonn Basic'
    }
    
.nav-link:hover {
    color: rgb(218, 5, 5);
    color: rgb(0, 0, 0) !important;
    font-family: 'Sifonn Basic'
}
.dropdown-item {
    color: rgb(218, 5, 5) !important;
    background-color: #000000 !important;
    font-family: 'Sifonn Basic'
}
.navbar .navbar-brand{
color: rgb(218, 5, 5);
font-family: 'Sifonn Basic';
font-size: 50px;
}




a:hover{
    border: none;
    background: rgb(218, 5, 5);
    text-decoration: rgb(218, 5, 5);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}


