
*{box-sizing:border-box;}
    body{margin: 0;
        font-family: Consolas ;
        font-size: 1rem;
        line-height: 1.5rem;
        color: rgb(150, 221, 243);
        overflow-x: hidden;
        background: url('video.png');
        background-size: 100%;
        
    }
   .header-overlay{height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.80;

   }
   .header-content{
       z-index: 2;
       margin-top: 20%;
       padding: 0 5rem;
   }

   .navbar{z-index: 10;}
   .my-nav {color: transparent;}

   
    .video-header-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -9999;
        opacity: 0.80;
      }

.thin_border{
	border: 1px solid rgb(150, 221, 243);
}


.nav-link {
    color: rgb(150, 221, 243)!important;
    font-family: Consolas
    }
    
.nav-link:hover {
    color:  rgb(150, 221, 243);
    color:  rgb(150, 221, 243) !important;
    font-family: Consolas
}
.dropdown-item {
    color:  rgb(150, 221, 243) !important;
    background-color: transparent!important;
    font-family: Consolas
}
.dropdown-menu{
    background-color: transparent;
}
.navbar .navbar-brand{
color:  rgb(150, 221, 243);
font-family: Alieron Heavy;
font-size: 50px;
}




a:hover{
    border: none;
    background: transparent;
    text-decoration: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}


